# Generate with: openssl rand -base64 32
AUTH_SECRET=

# From: terraform -chdir=../terraform/environment/dev/cognito output
AUTH_COGNITO_ID=
AUTH_COGNITO_SECRET=
AUTH_COGNITO_ISSUER=

NEXT_PUBLIC_BACKEND_BASE=http://localhost:8080
